<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uem.uci_sos">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.uem.uci_sos.Buscar"
            android:parentActivityName="com.uem.uci_sos.Reservar"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="com.uem.uci_sos.Datos"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.uem.uci_sos.ReservaRealizada"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.uem.uci_sos.Registro"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.uem.uci_sos.ConfigPlanta"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.uem.uci_sos.Login"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.uem.uci_sos.Reservar"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.uem.uci_sos.MisCamas"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.uem.uci_sos.Splash"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.uem.uci_sos.MiHospital"
            android:screenOrientation="portrait" />

    </application>
</manifest>